<ion-header [translucent]="true">


  <ion-content class="my-custom-background" [fullscreen]="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">
    </ion-header>
      <div class="colored-div">
          <h1 class="musicalia">Musicalia</h1>
          <h3 class="musicalia2">O app do músico!</h3>
          <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
      </div>
      <ion-list>
        <ion-item-divider>
          <ion-label>Cifras</ion-label>
        </ion-item-divider>
   
        <ion-item>
          <p> Ao invés de usar a partitura tradicional (com pentagrama e notas musicais), as cifras usam letras do alfabeto para indicar os acordes de uma música.</p>
        </ion-item>
    
        <ion-item-divider>
          <ion-label>Campo Harmônico</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>O campo harmônico é um conjunto de acordes que são formados a partir das notas de uma determinada escala musical(maior, menor, etc), seguindo uma ordem lógica. Ele é uma ferramenta muito útil para compositores e músicos, pois mostra quais acordes “combinam” entre si e podem ser usados juntos de maneira harmoniosa dentro de uma tonalidade.</p>
        </ion-item>
    
        <ion-item-divider>
          <ion-label>Sustenidos#</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Sustenidos são símbolos musicais que indicam que uma nota deve ser tocada meio semitom acima do seu valor natural. Em outras palavras, o sustenido (#) aumenta a altura da nota em um semitom. Por exemplo: O dó sustenido (C#) é meio semitom acima do dó (C). O fá sustenido (F#) é meio semitom acima do fá (F).</p>
        </ion-item>
        
        <ion-item-divider>
          <ion-label>Bemols(b)</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Os bemóis são símbolos musicais que indicam que uma nota deve ser tocada meio semitom abaixo do seu valor natural. Ou seja, o bemol (b) diminui a altura da nota em um semitom. Por exemplo: Dó bemol (Db) é meio semitom abaixo do dó (C). Fá bemol (Fb) é meio semitom abaixo do fá (F).</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>Graus</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Na música, graus se referem à posição de uma nota dentro de uma escala musical. Cada nota da escala ocupa um grau específico, que pode ser numerado a partir da tônica (a primeira nota) da escala. A tônica é a base ou ponto de referência da tonalidade e está no 1º grau. Por exemplo, se estamos falando da escala de Dó maior, que é formada pelas notas: Dó (1º grau),Ré (2º grau), Mi (3º grau), Fá (4º grau), Sol (5º grau), Lá (6º grau), Si (7º grau)</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>Terça Menor</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>A terça menor é um intervalo musical que corresponde a 3 semitons (ou, em outras palavras, à distância de três teclas no piano, contando uma tecla preta como um semitom). Esse intervalo é chamado de "menor" porque é mais curto do que a terça maior, que possui 4 semitons. Para ilustrar: A terça maior seria, por exemplo, entre as notas Dó e Mi. A terça menor seria entre Dó e Mib (o Mi bemol).</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>Sétima Maior</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>A sétima na música é um intervalo entre uma nota e a nota que está sete graus acima dela em uma escala. Esse intervalo é crucial tanto para a melodia quanto para a harmonia, e tem um papel importante na construção de acordes, especialmente na criação de tensão e resolução. Tipos de sétimas: Sétima maior: A sétima maior é o intervalo que abrange cinco tons e meio (ou 11 semitons). Ela tem uma sonoridade mais suave e aberta, muitas vezes usada em acordes maiores e dominantes. Exemplo: Da nota dó (C) até si (B), temos uma sétima maior.</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>Sétima Menor</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Sétima menor:
            A sétima menor é o intervalo que abrange cinco tons (ou 10 semitons). Ela é mais "fechada" ou "tensa" do que a sétima maior e é usada em acordes menores ou em acordes dominantes, especialmente em músicas que exigem uma resolução mais forte.
            Exemplo: Da nota dó (C) até si bemol (Bb), temos uma sétima menor.
            A sétima menor tem uma sonoridade mais "instável" e frequentemente exige uma resolução para um acorde mais estável (geralmente a tônica, ou o acorde de I). Por isso, ela é muito comum em progressões de acordes dominantes, como G7 (Sol7), que resolve para o acorde de tônica C (Dó).</p>
        </ion-item>


        <ion-item-divider>
          <ion-label>Tom e Semitom</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Tons e semitons são unidades de medida para os intervalos de altura entre as notas musicais. Eles são fundamentais para entender a construção das escalas e a distância entre as notas no sistema musical ocidental.</p>
        </ion-item>
    
        <!-- Mais termos podem ser adicionados conforme necessário -->
      </ion-list>









  </ion-content>