<ion-header [translucent]="true">


  <ion-content class="my-custom-background" [fullscreen]="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">
    </ion-header>
      <div class="colored-div">
          <h1 class="musicalia">Musicalia</h1>
          <h3 class="musicalia2">O app do músico!</h3>
          <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
      </div>
      <ion-list>
        <ion-item-divider>
          <ion-label>Cifras</ion-label>
        </ion-item-divider>
   
        <ion-item>
          <p> Ao invés de usar a partitura tradicional (com pentagrama e notas musicais), as cifras usam letras do alfabeto para indicar os acordes de uma música.</p>
        </ion-item>
    
        <ion-item-divider>
          <ion-label>Campo Harmonico</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>O campo harmônico é um conjunto de acordes que são formados a partir das notas de uma determinada escala musical(maior, menor, etc), seguindo uma ordem lógica. Ele é uma ferramenta muito útil para compositores e músicos, pois mostra quais acordes “combinam” entre si e podem ser usados juntos de maneira harmoniosa dentro de uma tonalidade.</p>
        </ion-item>
    
        <ion-item-divider>
          <ion-label>C</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Memória temporária de alto desempenho usada para armazenar dados frequentemente acessados para acelerar o tempo de resposta.</p>
        </ion-item>
        
        <ion-item-divider>
          <ion-label>D</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Processo de identificar e remover erros ou falhas de um software.</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>D</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Processo de identificar e remover erros ou falhas de um software.</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>D</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Processo de identificar e remover erros ou falhas de um software.</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>D</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Processo de identificar e remover erros ou falhas de um software.</p>
        </ion-item>

        <ion-item-divider>
          <ion-label>D</ion-label>
        </ion-item-divider>
        <ion-item>
          <p>Processo de identificar e remover erros ou falhas de um software.</p>
        </ion-item>
    
        <!-- Mais termos podem ser adicionados conforme necessário -->
      </ion-list>









  </ion-content>