<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - Diminutos
  </ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Acordes Diminutos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      
A cordes diminutos são acordes formados por uma tônica, uma terça menor e uma <em>quinta diminuta</em>. Eles têm um som característico tenso e instável, frequentemente usados para criar uma sensação de suspense ou de transição na música, e por terem a terça menor, são acordes menores.
    </ion-card-content>
  </ion-card>



<h3 class="notas" size="">Veja abaixo uma forma de acorde diminuto. </h3>
<img class="acordes" src="../../assets/icon/diminuto.png" /> 

<button class="inicio"  routerLink="/../tab13"> Começar teste </button> 

</ion-content>