<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - MeioDiminutos
  </ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Acordes Meio-Diminutos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Os acordes meio diminutos (também chamados de acordes diminutos menores ou acordes diminutos com sétima menor) são uma variação do acorde diminuto. Eles são formados por uma terça menor (intervalo de 3 semitons), uma quinta diminuta (intervalo de 6 semitons) e uma sétima menor (intervalo de 10 semitons)
    </ion-card-content>
  </ion-card>



<h3 class="notas" size="">Abaixo, estão alguns exemplos de acordes meio-diminutos</h3>
<img class="acordes" src="../../assets/icon/meio.jpg" /> 

<button class="inicio"  routerLink="/../tab14"> Começar teste </button> 

</ion-content>