<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - MeioDiminutos
  </ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Acordes Meio-Diminutos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Acordes são conjuntos de notas tocadas simultaneamente. Eles formam a base harmônica da música e podem criar diferentes sentimentos e atmosferas. Os acordes podem ser classificados em várias categorias, como acordes maiores, menores, diminutos e aumentados, dependendo das notas que os compõem.
    </ion-card-content>
  </ion-card>



<h3 class="notas" size="">Abaixo, estão alguns exemplos de acordes básicos maiores que vão te ajudar nessa jornada, se concentre em tirar todos e decorar suas <em>cifras</em>. </h3>
<img class="acordes" src="../../assets/icon/acordes.webp" /> 

<button class="inicio"  routerLink="/../tab14"> Começar teste </button> 

</ion-content>