.my-custom-background {
  --ion-background-color: #e6e6e6; /* Substitua pela cor desejada */
}

.textinho{
  margin-top: 5%;
  font-size: 120%;
  color: #3f5795;
  text-align: center;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
}


  .colored-div {
    background-color: #3f5795; /* Define a cor de fundo */
    color: white;              /* Define a cor do texto para garantir contraste */
    padding: 20px;            /* Adiciona espaçamento interno */
    text-align: center;       /* Centraliza o texto dentro da div */
    height: 90px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  }
  .rectangular-button {
    --width: 80%; /* Ajuste a largura como porcentagem da largura do contêiner pai */
    --height: 9%; /* Ajuste a altura como porcentagem da altura do contêiner pai */
    --background: #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 3px; /* Bordas retangulares (sem arredondamento) */
    --padding-start: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-end: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-top: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-bottom: 0px; /* Remove o padding padrão para largura e altura precisas */
    --background:  #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 12px; /* Bordas arredondadas, opcional */
    //usar os tracinhos parea o comando ser ativado, o porque nao sei, mas funciona 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: var(--width); /* Largura do botão */
    height: var(--height); /* Altura do botão */
    background: var(--background); /* Cor de fundo */
    color: var(--color); /* Cor do texto */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    font-size: 5vw; /* Tamanho da fonte em relação à largura da viewport */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Ajusta o espaçamento do texto */
    margin-left: 10%;
    margin-top: 20%;

  
}

.rectangular-button2 {
    --width: 80%; /* Ajuste a largura como porcentagem da largura do contêiner pai */
    --height: 9%; /* Ajuste a altura como porcentagem da altura do contêiner pai */
    --background: #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 3px; /* Bordas retangulares (sem arredondamento) */
    --padding-start: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-end: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-top: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-bottom: 0px; /* Remove o padding padrão para largura e altura precisas */
    --background:  #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 12px; /* Bordas arredondadas, opcional */
    position: relative;
    width: 100%; /* Ajuste conforme necessário */
    height: 100vh; /* Ajusta a altura para 100% da altura da viewport */
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    align-items: center; /* Centraliza o botão verticalmente */
    margin-top: 15%;

   
    //usar os tracinhos parea o comando ser ativado, o porque nao sei, mas funciona 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: var(--width); /* Largura do botão */
    height: var(--height); /* Altura do botão */
    background: var(--background); /* Cor de fundo */
    color: var(--color); /* Cor do texto */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    font-size: 5vw; /* Tamanho da fonte em relação à largura da viewport */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Ajusta o espaçamento do texto */
    margin-left: 10%;
  
}


.rectangular-button3 {
    --width: 80%; /* Ajuste a largura como porcentagem da largura do contêiner pai */
    --height: 9%; /* Ajuste a altura como porcentagem da altura do contêiner pai */
    --background: #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 3px; /* Bordas retangulares (sem arredondamento) */
    --padding-start: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-end: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-top: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-bottom: 0px; /* Remove o padding padrão para largura e altura precisas */
    --background:  #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 12px; /* Bordas arredondadas, opcional */
   
    //usar os tracinhos parea o comando ser ativado, o porque nao sei, mas funciona 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: var(--width); /* Largura do botão */
    height: var(--height); /* Altura do botão */
    background: var(--background); /* Cor de fundo */
    color: var(--color); /* Cor do texto */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    font-size: 5vw; /* Tamanho da fonte em relação à largura da viewport */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Ajusta o espaçamento do texto */
    margin-left: 10%;
    margin-top: 15%;
}


.rectangular-button4 {
    --width: 80%; /* Ajuste a largura como porcentagem da largura do contêiner pai */
    --height: 9%; /* Ajuste a altura como porcentagem da altura do contêiner pai */
    --background: #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 3px; /* Bordas retangulares (sem arredondamento) */
    --padding-start: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-end: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-top: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-bottom: 0px; /* Remove o padding padrão para largura e altura precisas */
    --background:  #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 12px; /* Bordas arredondadas, opcional */
   
    //usar os tracinhos parea o comando ser ativado, o porque nao sei, mas funciona 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: var(--width); /* Largura do botão */
    height: var(--height); /* Altura do botão */
    background: var(--background); /* Cor de fundo */
    color: var(--color); /* Cor do texto */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    font-size: 5vw; /* Tamanho da fonte em relação à largura da viewport */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Ajusta o espaçamento do texto */
    margin-left: 10%;
    margin-top: 15%;
  
}

.rectangular-button5 {
    --width: 80%; /* Ajuste a largura como porcentagem da largura do contêiner pai */
    --height: 9%; /* Ajuste a altura como porcentagem da altura do contêiner pai */
    --background: #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 3px; /* Bordas retangulares (sem arredondamento) */
    --padding-start: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-end: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-top: 0px; /* Remove o padding padrão para largura e altura precisas */
    --padding-bottom: 0px; /* Remove o padding padrão para largura e altura precisas */
    --background:  #3f5795; /* Cor de fundo */
    --color: #ffffff; /* Cor do texto */
    --border-radius: 12px; /* Bordas arredondadas, opcional */
   
    //usar os tracinhos parea o comando ser ativado, o porque nao sei, mas funciona 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Sombra */
    width: var(--width); /* Largura do botão */
    height: var(--height); /* Altura do botão */
    background: var(--background); /* Cor de fundo */
    color: var(--color); /* Cor do texto */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    font-size: 5vw; /* Tamanho da fonte em relação à largura da viewport */
    text-align: center; /* Centraliza o texto */
    line-height: 1.5; /* Ajusta o espaçamento do texto */
    margin-left: 10%;
    margin-top: 15%;
  
}
        .musicalia{
          font-family: "Rock Salt", cursive;
          font-weight: 400;
          margin-top: 5px;
      }
      .musicalia2{
          font-family: "Rock Salt", cursive;
          font-weight: 400;
          margin-top: -5px;
          font-size: 14px;
      }
      .pato22Img{
          position: absolute;
          height: 80px;
          margin-left: -160px;
          margin-top: -75px;
      }
  .nota{
    font-size: 20px;
    margin-top: 5%;
    position: absolute;
    color: #3f5795;
    text-align: center;
    padding: 10px;
 
  }
  .a1{
    position: absolute;
    margin-top: 12%;
    color: #3f5795;
    margin-left: 7%;
    font-size: 25px;
  }
  .a2{
    position: absolute;
    margin-top: 6%;
    color: #3f5795;
    margin-left: 7%;
    font-size: 25px;
  }
  .a3{
    position: absolute;
    margin-top: 6%;
    color: #3f5795;
    margin-left: 7%;
    font-size: 25px;
  }
  .a4{
    position: absolute;
    margin-top: 6%;
    color: #3f5795;
    margin-left: 7%;
    font-size: 25px;
  }
  .a5{
    position: absolute;
    margin-top: 6%;
    color: #3f5795;
    margin-left: 7%;
    font-size: 25px;
  }

  .voltar{
    position: absolute;
    margin-top: -22%;
    margin-left: 75%;
    color: #ffffff;
    background-color: #3f5795;
  }
  .introoo{
    position: absolute;
    margin-top: 40% ;
  }