<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - Triades Menores</ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Tríades Menores</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      As tríades menores são acordes formados por três notas, sendo uma tônica, uma terça menor e uma quinta justa. Essa estrutura resulta em um som mais melancólico ou introspectivo em comparação com as tríades maiores. São o esqueleto dos acordes menores.
    </ion-card-content>
  </ion-card>



<h3 class="notas" size=""> As tríades menores alteram a relação intervalar, como pode ser visto abaixo. A exemplo: C, Eb, G, tríade menor de Dó </h3>
<img class="prog" src="../../assets/icon/Image07.jpg" /> 

<button class="inicio"  routerLink="/tab12"> Começar teste </button> 

</ion-content>