<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - Acordes com 7 </ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Acordes com 7</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

  Os acordes com 7 (ou acordes de sétima) são acordes que incluem a sétima nota da escala, além da tônica, terça e quinta. Eles são fundamentais na música popular, jazz, blues e muitos outros estilos, pois adicionam complexidade e riqueza harmônica às progressões de acordes.
    </ion-card-content>
  </ion-card>



<h3 class="notas" size=""> Nesse momento, vamos abordar acordes com 7, essa nota está <em>1 tom</em> abaixa da <em>oitava</em>. </h3>
<img class="prog" src="../../assets/icon/acordes-com-setima.jpg" /> 

<button class="inicio"  routerLink="/tab17"> Começar teste </button> 

</ion-content>