<ion-header [translucent]="true">


  <ion-content class="my-custom-background" [fullscreen]="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">
    </ion-header>
  
    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
  </div>


  <ion-content>

</ion-content>


