<ion-header [translucent]="true">


  <ion-content class="my-custom-background" [fullscreen]="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">
    </ion-header>
  
    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
  </div>


  <ion-content>
  <div class="about-container">
    <h1>Quem Somos</h1>
    <p>
      Somos uma equipe dedicada a oferecer as melhores soluções em tecnologia. Nosso objetivo é facilitar a vida dos nossos usuários com aplicativos inovadores e fáceis de usar.
    </p>
    <h2>Nossa Missão</h2>
    <p>
      Proporcionar experiências únicas e acessíveis através de nossa tecnologia.
    </p>
    <h2>Nossos Valores</h2>
    <ul>
      <li>Inovação</li>
      <li>Transparência</li>
      <li>Compromisso</li>
      <li>Qualidade</li>
    </ul>
    <h2>Entre em Contato</h2>
    <p>
      Para mais informações, entre em contato conosco pelo e-mail: <a href="#"></a>
    </p>
  </div>
</ion-content>


