<ion-header [translucent]="true">


  <ion-content class="my-custom-background" [fullscreen]="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">
    </ion-header>
      <div class="colored-div">
          <h1 class="musicalia">Musicalia</h1>
          <h3 class="musicalia2">O app do músico!</h3>
          <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
        
      </div>
      <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 
      <h1 class="recep" size="large">Música do Dia</h1>
    <h3 class="textinho" >Selecione um estilo musical de acordo com sua vontade do dia e amplie seu repertório!</h3>




        <ion-button class="buton" (click)="sortearFrase()">Sertanejo</ion-button>
        <ion-button class="rectangular-button2" (click)="sortearFrase2()">Rock</ion-button>
        <ion-button class="rectangular-button3" (click)="sortearFrase3()">MPB e Bossa Nova</ion-button>
        <ion-button class="rectangular-button4" (click)="sortearFrase4()">POP </ion-button>
      


        
        <div class="response" id="response" >
          <h2>{{ fraseSorteada  }}</h2>
        </div>
        <div class="response" id="response">
          <h2>{{ fraseSorteada2}}</h2>
        </div>
        <div class="response" id="response" >
          <h2>{{ fraseSorteada3  }}</h2>
        </div>
        <div class="response" id="response" >
          <h2>{{ fraseSorteada4  }}</h2>
        </div>



 
  </ion-content>