<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - Progressão de Acordes com 7 </ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Tetrades</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

Uma progressão de acordes é uma sequência de acordes tocados em uma música. Essas progressões formam a base harmônica da canção e ajudam a criar a estrutura e a emoção da peça. As progressões podem variar em complexidade e estilo.
    </ion-card-content>
  </ion-card>



<h3 class="notas" size=""> Nesse momento, vamos abordar apenas progressões dos acordes básicos, para um entendimento gradativo do tema, e posteriormente será abordada a temática de <em>Campo Harmonico</em> e seus <em>graus</em>. </h3>
<img class="prog" src="../../assets/icon/progressao.webp" /> 

<button class="inicio"  routerLink="/gtab16"> Começar teste </button> 

</ion-content>