<ion-header [translucent]="true"></ion-header>


  <ion-content class="my-custom-background" [fullscreen]="true">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
  
    <ion-header collapse="condense">
      
    </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
  </div>


  
  <h3 class="textinho" size="large">Selecione o nível de seu conhecimento</h3>

  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 

    <h2 class="a2">Tétrades </h2>
    <ion-button class="rectangular-button2"  routerLink="/introtetra"> Nível 2</ion-button>
    <h2 class="a3">Acordes com 7</h2> 
    <ion-button class="rectangular-button3"  routerLink="/acorde7"> Nível 3 </ion-button>
    <h2 class="a4">Progressão Acordes com 7</h2> 
    <ion-button class="rectangular-button4"  routerLink="/introprog77"> Nível 4</ion-button>



  <h3 class="nota" size=""> A sétima é a responsável por detalhar e enriquecer sua sonoridade, sendo de extrema relevância saber sobre sua relação <em>intervalar</em></h3>
    

</ion-content>