<ion-header [translucent]="true">


<ion-content class="my-custom-background" [fullscreen]="true">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
  <ion-header collapse="condense">
  </ion-header>
    <div class="colored-div">
        <h1 class="musicalia">Musicalia</h1>
        <h3 class="musicalia2">O app do músico!</h3>
        <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>
    <h1 class="recep" size="large">Bem vindo ao Musicalia!</h1>
  <h3 class="textinho" >Selecione seu nível a seguir!(leve em consideração o tempo de prática, conhecimento):</h3>


      <ion-button class="rectangular-button" routerLink="/tab4">1</ion-button>
      <ion-button class="rectangular-button2" routerLink="/tab5">2</ion-button>
      <ion-button class="rectangular-button3" routerLink="/tab6">3</ion-button>
      <ion-button class="rectangular-button4" routerLink="/tab7">4</ion-button>
      <ion-button class="rectangular-button5" routerLink="/tab8">5</ion-button>

<div class="anunnn">
  <ion-card class="anun">
  <img alt="Silhouette of mountains" img class="guitars" src="../../assets/icon/guitars.webp" /> 
    <ion-card-header>
      <ion-card-title>Seja um de nós!</ion-card-title>
      <ion-card-subtitle>Anúncio</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      O grupo Musicalia procura por professores que estão dispostos a atualizar as perguntas do app para que cada vez mais alunos possam evoluir. Venha fazer parte disso e envie um E-mail para a staff!
    </ion-card-content>
    <ion-button class="ab" routerLink="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=CllgCJlJVtRPwgZfwFhnWWgKbrRFcZVHWXmNZtbkxPKRDxrlHghrVWvxNgLDRrWbpJDWkmHZmCg">Entre em contato!</ion-button>
  </ion-card>
</div>

</ion-content>