<ion-header [translucent]="true">

  <ion-content class="my-custom-background" [fullscreen]="true">
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <ion-header collapse="condense">    
  </ion-header>

    <div class="colored-div">
      <h1 class="musicalia">Musicalia</h1>
      <h3 class="musicalia2">O app do músico!</h3>
      <img class="pato22Img" src="../../assets/icon/pato2.png" /> 
    </div>

  <ion-title class="textinho" size="large">Introdução - Triades Maiores</ion-title>
  <ion-button class="voltar"  routerLink="../"> Voltar </ion-button> 



  <ion-card class="introoo">
    <ion-card-header>
      <ion-card-title class="till">Tríades Maiores</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

As tríades são o esqueleto dos acordes, todo acorde tem tríades dentro dele. Elas são compostas  pelos <em>graus</em> tônica, terça quinta e são a base de formação dos acordes. Para se formar o acorde Dó maior, por exemplo, é necssário ter sua tríade C, E, G  
    </ion-card-content>
  </ion-card>



<h3 class="notas" size=""> No atual momento, apenas tríades maiores vão ser mostradas. A formação das tríades varia de acordo com as mudanças em seus <em>graus</em> e suas notas retiradas de seus respectivos <em>Campos Harmonicos</em> </h3>
<img class="prog" src="../../assets/icon/triadesmaiores.JPG" /> 

<button class="inicio"  routerLink="/tab11"> Começar teste </button> 

</ion-content>